node-red-data/dongle02.json
[
    {
        "id": "74f79aabdf523a9a",
        "type": "tab",
        "label": "Dongle-02",
        "disabled": false,
        "info": ""
    },
    {
        "id": "88464cb99f6eeeea",
        "type": "inject",
        "z": "74f79aabdf523a9a",
        "name": "Trip 01",
        "props": [
            {
                "p": "timestamp",
                "v": "",
                "vt": "date"
            },
            {
                "p": "temperature",
                "v": "{\"min1\":195,\"max1\":220}",
                "vt": "json"
            },
            {
                "p": "fuel",
                "v": "{\"min2\":8,\"max2\":12}",
                "vt": "json"
            },
            {
                "p": "speed",
                "v": "{\"min3\":30,\"max3\":60}",
                "vt": "json"
            },
            {
                "p": "brake",
                "v": "{\"min4\":55,\"max4\":80}",
                "vt": "json"
            },
            {
                "p": "time",
                "v": "{\"min5\":7,\"max5\":10}",
                "vt": "json"
            },
            {
                "p": "range",
                "v": "{\"min6\":5,\"max6\":35}",
                "vt": "json"
            },
            {
                "p": "from",
                "v": "Box Hill ",
                "vt": "str"
            },
            {
                "p": "to",
                "v": "Deakin Uni Burwood",
                "vt": "str"
            },
            {
                "p": "url",
                "v": "https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d25209.19826140016!2d145.0990370550883!3d-37.83337920390717!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x6ad640b0a944875b%3A0xb0a0f0126a95b73f!2sBox%20Hill%2C%20Box%20Hill%20VIC!3m2!1d-37.8192211!2d145.1211567!4m5!1s0x6ad640592c2ddceb%3A0x805bd52f251bd12!2sDeakin%20University%20Melbourne%20Burwood%20Campus%2C%20Deakin%20University%2C%20Burwood%20Highway%2C%20Burwood%20VIC!3m2!1d-37.8475399!2d145.1149471!5e0!3m2!1sen!2sau!4v1633472615768!5m2!1sen!2sau",
                "vt": "str"
            },
            {
                "p": "distance",
                "v": "3.5",
                "vt": "num"
            },
            {
                "p": "dongle",
                "v": "OBD002",
                "vt": "str"
            },
            {
                "p": "reg",
                "v": "UFO-234",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 80,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "d126af66002cd007",
        "type": "ui_switch",
        "z": "74f79aabdf523a9a",
        "name": "",
        "label": "Car On/Off",
        "tooltip": "",
        "group": "f4dd05d18cf281f0",
        "order": 0,
        "width": "0",
        "height": "0",
        "passthru": true,
        "decouple": "false",
        "topic": "control",
        "topicType": "str",
        "style": "",
        "onvalue": "open",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "close",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 90,
        "y": 440,
        "wires": [
            [
                "80aecc937fddc668"
            ]
        ]
    },
    {
        "id": "80aecc937fddc668",
        "type": "gate",
        "z": "74f79aabdf523a9a",
        "name": "",
        "controlTopic": "control",
        "defaultState": "closed",
        "openCmd": "open",
        "closeCmd": "close",
        "toggleCmd": "toggle",
        "defaultCmd": "default",
        "statusCmd": "status",
        "persist": false,
        "storeName": "memory",
        "x": 210,
        "y": 300,
        "wires": [
            [
                "77577978c0168f82",
                "648542f1e7222a59",
                "8b8f7dcb6ba22e2d",
                "0587239bb6026298"
            ]
        ]
    },
    {
        "id": "6cb6b6986bd17119",
        "type": "inject",
        "z": "74f79aabdf523a9a",
        "name": "Trip 02",
        "props": [
            {
                "p": "timestamp",
                "v": "",
                "vt": "date"
            },
            {
                "p": "temperature",
                "v": "{\"min1\":195,\"max1\":220}",
                "vt": "json"
            },
            {
                "p": "fuel",
                "v": "{\"min2\":8,\"max2\":12}",
                "vt": "json"
            },
            {
                "p": "speed",
                "v": "{\"min3\":30,\"max3\":60}",
                "vt": "json"
            },
            {
                "p": "brake",
                "v": "{\"min4\":55,\"max4\":80}",
                "vt": "json"
            },
            {
                "p": "time",
                "v": "{\"min5\":12,\"max5\":16}",
                "vt": "json"
            },
            {
                "p": "range",
                "v": "{\"min6\":2,\"max6\":10}",
                "vt": "json"
            },
            {
                "p": "from",
                "v": "Glen Waverley",
                "vt": "str"
            },
            {
                "p": "to",
                "v": "Deakin Uni Burwood",
                "vt": "str"
            },
            {
                "p": "url",
                "v": "https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d25199.700462113164!2d145.1242322551394!3d-37.86116650358657!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x6ad66bb67ebd66cb%3A0x5045675218cdb40!2sGlen%20Waverley%20VIC!3m2!1d-37.874350199999995!2d145.1668205!4m5!1s0x6ad640592c2ddceb%3A0x805bd52f251bd12!2sDeakin%20University%20Melbourne%20Burwood%20Campus%2C%20Deakin%20University%2C%20Burwood%20Highway%2C%20Burwood%20VIC!3m2!1d-37.8475399!2d145.1149471!5e0!3m2!1sen!2sau!4v1633472475566!5m2!1sen!2sau",
                "vt": "str"
            },
            {
                "p": "distance",
                "v": "8",
                "vt": "num"
            },
            {
                "p": "dongle",
                "v": "OBD002",
                "vt": "str"
            },
            {
                "p": "reg",
                "v": "UFO-234",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 100,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "dc42020d58f9d34b",
        "type": "inject",
        "z": "74f79aabdf523a9a",
        "name": "trip 03",
        "props": [
            {
                "p": "timestamp",
                "v": "",
                "vt": "date"
            },
            {
                "p": "temperature",
                "v": "{\"min1\":195,\"max1\":220}",
                "vt": "json"
            },
            {
                "p": "fuel",
                "v": "{\"min2\":8,\"max2\":12}",
                "vt": "json"
            },
            {
                "p": "speed",
                "v": "{\"min3\":30,\"max3\":60}",
                "vt": "json"
            },
            {
                "p": "brake",
                "v": "{\"min4\":55,\"max4\":80}",
                "vt": "json"
            },
            {
                "p": "time",
                "v": "{\"min5\":14,\"max5\":20}",
                "vt": "json"
            },
            {
                "p": "range",
                "v": "{\"min6\":5,\"max6\":45}",
                "vt": "json"
            },
            {
                "p": "from",
                "v": "Clayton",
                "vt": "str"
            },
            {
                "p": "to",
                "v": "Deakin Uni Burwood",
                "vt": "str"
            },
            {
                "p": "url",
                "v": "https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d50404.51460712483!2d145.09160044986263!3d-37.85368776915661!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x6ad66a84369ae825%3A0x5045675218cdc00!2sChadstone%20VIC%203148!3m2!1d-37.8810091!2d145.0959519!4m5!1s0x6ad640b0a944875b%3A0xb0a0f0126a95b73f!2sBox%20Hill%2C%20Box%20Hill%20VIC!3m2!1d-37.8192211!2d145.1211567!5e0!3m2!1sen!2sau!4v1633472017648!5m2!1sen!2sau",
                "vt": "str"
            },
            {
                "p": "distance",
                "v": "8.9",
                "vt": "num"
            },
            {
                "p": "dongle",
                "v": "OBD002",
                "vt": "str"
            },
            {
                "p": "reg",
                "v": "UFO-234",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 120,
        "y": 20,
        "wires": [
            [
                "80aecc937fddc668"
            ]
        ]
    },
    {
        "id": "3ae1c33270a374b5",
        "type": "mongodb out",
        "z": "74f79aabdf523a9a",
        "mongodb": "30759c261cddce0a",
        "name": "mongoDB",
        "collection": "simulate",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 700,
        "y": 200,
        "wires": []
    },
    {
        "id": "77577978c0168f82",
        "type": "function",
        "z": "74f79aabdf523a9a",
        "name": "All data",
        "func": "min1 = msg.temperature.min1;\nmax1 = msg.temperature.max1;\nmin2 = msg.fuel.min2;\nmax2 = msg.fuel.max2;\nmin3 = msg.speed.min3;\nmax3 = msg.speed.max3;\nmin4 = msg.brake.min4;\nmax4 = msg.brake.max4;\nmin5 = msg.time.min5;\nmax5 = msg.time.max5;\nmin6 = msg.range.min6;\nmax6 = msg.range.max6;\ndistance = msg.distance\nfrom = msg.from\nto = msg.to\nurl = msg.url\ntimestamp = msg.timestamp\ndongle = msg.dongle\nreg = msg.reg\n\nfunction generateRandomIntegerInRange(min, max) {\n    return Math.floor(Math.random() * (max - min + 1)) + min\n}\n\nreturn {fuel: generateRandomIntegerInRange(min2, max2),\n    temperature: generateRandomIntegerInRange(min1, max1),\n    speed: generateRandomIntegerInRange(min3, max3),\n    brake: generateRandomIntegerInRange(min4, max4),\n    time: generateRandomIntegerInRange(min5, max5),\n    range: generateRandomIntegerInRange(min6, max6),\n    distance,from,to,url,timestamp,dongle,reg\n};\n \n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 160,
        "wires": [
            [
                "de6c01631e41c5d9",
                "3ae1c33270a374b5"
            ]
        ]
    },
    {
        "id": "de6c01631e41c5d9",
        "type": "debug",
        "z": "74f79aabdf523a9a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "temperature",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 100,
        "wires": []
    },
    {
        "id": "648542f1e7222a59",
        "type": "function",
        "z": "74f79aabdf523a9a",
        "name": "Temperature",
        "func": "min1 = msg.temperature.min1;\nmax1 = msg.temperature.max1;\n\n\nfunction generateRandomIntegerInRange(min, max) {\n    return Math.floor(Math.random() * (max - min + 1)) + min\n}\n\n\nreturn {\n    payload: generateRandomIntegerInRange(min1, max1)\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 340,
        "wires": [
            [
                "ee35a1ae53c12897",
                "d96255c1fb71f3be",
                "25bf078ecac65cde"
            ]
        ]
    },
    {
        "id": "8b8f7dcb6ba22e2d",
        "type": "function",
        "z": "74f79aabdf523a9a",
        "name": "fuel",
        "func": "var min2 = msg.fuel.min2\nvar max2 = msg.fuel.max2\n\nfunction generateRandomIntegerInRange(min, max) {\n    return Math.floor(Math.random() * (max - min + 1)) + min;\n}\n\n\n\nreturn {payload: generateRandomIntegerInRange(min2, max2)};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 440,
        "wires": [
            [
                "8b8c5571d577f365",
                "3a625e2cf3925118",
                "4a0c65db8dd41a8b"
            ]
        ]
    },
    {
        "id": "0587239bb6026298",
        "type": "function",
        "z": "74f79aabdf523a9a",
        "name": "brake",
        "func": "min4 = msg.brake.min4;\nmax4 = msg.brake.max4;\n\n\nfunction generateRandomIntegerInRange(min, max) {\n    return Math.floor(Math.random() * (max - min + 1)) + min\n}\n\n\nreturn {\n    payload: generateRandomIntegerInRange(min4, max4)\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 520,
        "wires": [
            [
                "42454e34eb06a52b",
                "8b85e6dc68c13b7d",
                "dadb6938a9ecaeb2"
            ]
        ]
    },
    {
        "id": "ee35a1ae53c12897",
        "type": "ui_gauge",
        "z": "74f79aabdf523a9a",
        "name": "",
        "group": "5d81a0460650e608",
        "order": 0,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "temperature",
        "label": "celcius",
        "format": "{{value}}",
        "min": "190",
        "max": "230",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "210",
        "seg2": "220",
        "className": "",
        "x": 710,
        "y": 320,
        "wires": []
    },
    {
        "id": "d96255c1fb71f3be",
        "type": "ui_chart",
        "z": "74f79aabdf523a9a",
        "name": "",
        "group": "5d81a0460650e608",
        "order": 1,
        "width": "0",
        "height": "0",
        "label": "temperature-chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "50",
        "ymax": "250",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 730,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "8b8c5571d577f365",
        "type": "ui_gauge",
        "z": "74f79aabdf523a9a",
        "name": "",
        "group": "daa210e7c206b8b6",
        "order": 0,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "fuel",
        "label": "L",
        "format": "{{value}}",
        "min": "0",
        "max": "20",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "15",
        "className": "",
        "x": 690,
        "y": 440,
        "wires": []
    },
    {
        "id": "3a625e2cf3925118",
        "type": "ui_chart",
        "z": "74f79aabdf523a9a",
        "name": "",
        "group": "daa210e7c206b8b6",
        "order": 1,
        "width": "0",
        "height": "0",
        "label": "fuel-chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 700,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "42454e34eb06a52b",
        "type": "ui_gauge",
        "z": "74f79aabdf523a9a",
        "name": "",
        "group": "a46a28de39daa027",
        "order": 0,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "brake",
        "label": "km/h",
        "format": "{{value}}",
        "min": "55",
        "max": "80",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "55",
        "seg2": "59",
        "className": "",
        "x": 690,
        "y": 560,
        "wires": []
    },
    {
        "id": "8b85e6dc68c13b7d",
        "type": "ui_chart",
        "z": "74f79aabdf523a9a",
        "name": "",
        "group": "a46a28de39daa027",
        "order": 1,
        "width": "0",
        "height": "0",
        "label": "brake-chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "150",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 710,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "25bf078ecac65cde",
        "type": "ui_text",
        "z": "74f79aabdf523a9a",
        "group": "5d81a0460650e608",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "temperature",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 740,
        "y": 280,
        "wires": []
    },
    {
        "id": "4a0c65db8dd41a8b",
        "type": "ui_text",
        "z": "74f79aabdf523a9a",
        "group": "daa210e7c206b8b6",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "fuel",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 690,
        "y": 400,
        "wires": []
    },
    {
        "id": "dadb6938a9ecaeb2",
        "type": "ui_text",
        "z": "74f79aabdf523a9a",
        "group": "a46a28de39daa027",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "brake",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 690,
        "y": 520,
        "wires": []
    },
    {
        "id": "f4dd05d18cf281f0",
        "type": "ui_group",
        "name": "Default",
        "tab": "ce8a760e58215cf0",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "30759c261cddce0a",
        "type": "mongodb",
        "hostname": "sit725-2021-t2-week4.9iugr.mongodb.net",
        "topology": "dnscluster",
        "connectOptions": "",
        "port": "27017",
        "db": "obd2",
        "name": ""
    },
    {
        "id": "5d81a0460650e608",
        "type": "ui_group",
        "name": "temprature",
        "tab": "ce8a760e58215cf0",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "daa210e7c206b8b6",
        "type": "ui_group",
        "name": "fuel",
        "tab": "ce8a760e58215cf0",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a46a28de39daa027",
        "type": "ui_group",
        "name": "brake",
        "tab": "ce8a760e58215cf0",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ce8a760e58215cf0",
        "type": "ui_tab",
        "name": "home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]