node-red-data/dongle01.json
[
    {
        "id": "5140f39a81560f94",
        "type": "tab",
        "label": "Dongle-01",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6b5a22337127aed0",
        "type": "mongodb out",
        "z": "5140f39a81560f94",
        "mongodb": "30759c261cddce0a",
        "name": "mongoDB",
        "collection": "simulate",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 660,
        "y": 200,
        "wires": []
    },
    {
        "id": "ce9a58554c49a21d",
        "type": "function",
        "z": "5140f39a81560f94",
        "name": "All data",
        "func": "min1 = msg.temperature.min1;\nmax1 = msg.temperature.max1;\nmin2 = msg.fuel.min2;\nmax2 = msg.fuel.max2;\nmin3 = msg.speed.min3;\nmax3 = msg.speed.max3;\nmin4 = msg.brake.min4;\nmax4 = msg.brake.max4;\nmin5 = msg.time.min5;\nmax5 = msg.time.max5;\nmin6 = msg.range.min6;\nmax6 = msg.range.max6;\ndistance = msg.distance\nfrom = msg.from\nto = msg.to\nurl = msg.url\ntimestamp = msg.timestamp\ndongle = msg.dongle\nreg = msg.reg\n\nfunction generateRandomIntegerInRange(min, max) {\n    return Math.floor(Math.random() * (max - min + 1)) + min\n}\n\nreturn {fuel: generateRandomIntegerInRange(min2, max2),\n    temperature: generateRandomIntegerInRange(min1, max1),\n    speed: generateRandomIntegerInRange(min3, max3),\n    brake: generateRandomIntegerInRange(min4, max4),\n    time: generateRandomIntegerInRange(min5, max5),\n    range: generateRandomIntegerInRange(min6, max6),\n    distance,from,to,url,timestamp,dongle,reg\n};\n \n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 160,
        "wires": [
            [
                "02d54057704fe092",
                "6b5a22337127aed0"
            ]
        ]
    },
    {
        "id": "ce6c97c8556854dd",
        "type": "inject",
        "z": "5140f39a81560f94",
        "name": "Trip 01",
        "props": [
            {
                "p": "timestamp",
                "v": "",
                "vt": "date"
            },
            {
                "p": "temperature",
                "v": "{\"min1\":195,\"max1\":220}",
                "vt": "json"
            },
            {
                "p": "fuel",
                "v": "{\"min2\":8,\"max2\":12}",
                "vt": "json"
            },
            {
                "p": "speed",
                "v": "{\"min3\":30,\"max3\":60}",
                "vt": "json"
            },
            {
                "p": "brake",
                "v": "{\"min4\":55,\"max4\":80}",
                "vt": "json"
            },
            {
                "p": "time",
                "v": "{\"min5\":15,\"max5\":20}",
                "vt": "json"
            },
            {
                "p": "range",
                "v": "{\"min6\":0,\"max6\":30}",
                "vt": "json"
            },
            {
                "p": "from",
                "v": "Clayton",
                "vt": "str"
            },
            {
                "p": "to",
                "v": "Caulfield",
                "vt": "str"
            },
            {
                "p": "url",
                "v": "https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d50373.01806998863!2d145.0423940634514!3d-37.8997313578997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x6ad66ad657aee985%3A0x5045675218cddc0!2sClayton%20VIC!3m2!1d-37.914547899999995!2d145.127492!4m5!1s0x6ad6696cd1a408d7%3A0x5045675218cf900!2sCaulfield%20VIC!3m2!1d-37.884!2d145.0266!5e0!3m2!1sen!2sau!4v1632734061641!5m2!1sen!2sau",
                "vt": "str"
            },
            {
                "p": "distance",
                "v": "12",
                "vt": "num"
            },
            {
                "p": "dongle",
                "v": "OBD001",
                "vt": "str"
            },
            {
                "p": "reg",
                "v": "ABC-123",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 80,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "02d54057704fe092",
        "type": "debug",
        "z": "5140f39a81560f94",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "temperature",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 100,
        "wires": []
    },
    {
        "id": "06147498647b7e74",
        "type": "function",
        "z": "5140f39a81560f94",
        "name": "Temperature",
        "func": "min1 = msg.temperature.min1;\nmax1 = msg.temperature.max1;\n\n\nfunction generateRandomIntegerInRange(min, max) {\n    return Math.floor(Math.random() * (max - min + 1)) + min\n}\n\n\nreturn {\n    payload: generateRandomIntegerInRange(min1, max1)\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 340,
        "wires": [
            [
                "a3ea364b54830e4f",
                "a7ee70e5db58d719",
                "3d64e88fd014b42c"
            ]
        ]
    },
    {
        "id": "46386ce2e24e6c13",
        "type": "function",
        "z": "5140f39a81560f94",
        "name": "fuel",
        "func": "var min2 = msg.fuel.min2\nvar max2 = msg.fuel.max2\n\nfunction generateRandomIntegerInRange(min, max) {\n    return Math.floor(Math.random() * (max - min + 1)) + min;\n}\n\n\n\nreturn {payload: generateRandomIntegerInRange(min2, max2)};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 440,
        "wires": [
            [
                "130d6c618f1cb3bc",
                "ef52a716d45a089c",
                "78d3f93c89edec3e"
            ]
        ]
    },
    {
        "id": "fbd0056cf0dfd45f",
        "type": "function",
        "z": "5140f39a81560f94",
        "name": "brake",
        "func": "min4 = msg.brake.min4;\nmax4 = msg.brake.max4;\n\n\nfunction generateRandomIntegerInRange(min, max) {\n    return Math.floor(Math.random() * (max - min + 1)) + min\n}\n\n\nreturn {\n    payload: generateRandomIntegerInRange(min4, max4)\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 520,
        "wires": [
            [
                "661108387f68e454",
                "373ed1e6f9d3d5b0",
                "ba3498a6893550f0"
            ]
        ]
    },
    {
        "id": "a3ea364b54830e4f",
        "type": "ui_gauge",
        "z": "5140f39a81560f94",
        "name": "",
        "group": "5d81a0460650e608",
        "order": 0,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "temperature",
        "label": "celcius",
        "format": "{{value}}",
        "min": "190",
        "max": "230",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "210",
        "seg2": "220",
        "className": "",
        "x": 670,
        "y": 320,
        "wires": []
    },
    {
        "id": "a7ee70e5db58d719",
        "type": "ui_chart",
        "z": "5140f39a81560f94",
        "name": "",
        "group": "5d81a0460650e608",
        "order": 1,
        "width": "0",
        "height": "0",
        "label": "temperature-chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "50",
        "ymax": "250",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 690,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "130d6c618f1cb3bc",
        "type": "ui_gauge",
        "z": "5140f39a81560f94",
        "name": "",
        "group": "daa210e7c206b8b6",
        "order": 0,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "fuel",
        "label": "L",
        "format": "{{value}}",
        "min": "0",
        "max": "20",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "15",
        "className": "",
        "x": 650,
        "y": 440,
        "wires": []
    },
    {
        "id": "ef52a716d45a089c",
        "type": "ui_chart",
        "z": "5140f39a81560f94",
        "name": "",
        "group": "daa210e7c206b8b6",
        "order": 1,
        "width": "0",
        "height": "0",
        "label": "fuel-chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 660,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "661108387f68e454",
        "type": "ui_gauge",
        "z": "5140f39a81560f94",
        "name": "",
        "group": "d40c40e0703598e9",
        "order": 0,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "brake",
        "label": "km/h",
        "format": "{{value}}",
        "min": "55",
        "max": "80",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "55",
        "seg2": "59",
        "className": "",
        "x": 650,
        "y": 560,
        "wires": []
    },
    {
        "id": "373ed1e6f9d3d5b0",
        "type": "ui_chart",
        "z": "5140f39a81560f94",
        "name": "",
        "group": "d40c40e0703598e9",
        "order": 1,
        "width": "0",
        "height": "0",
        "label": "brake-chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "150",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 670,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "7318dc153c67775a",
        "type": "ui_switch",
        "z": "5140f39a81560f94",
        "name": "",
        "label": "Car On/Off",
        "tooltip": "",
        "group": "f4dd05d18cf281f0",
        "order": 0,
        "width": "0",
        "height": "0",
        "passthru": true,
        "decouple": "false",
        "topic": "control",
        "topicType": "str",
        "style": "",
        "onvalue": "open",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "close",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 110,
        "y": 440,
        "wires": [
            [
                "fedac6ff27ab1848"
            ]
        ]
    },
    {
        "id": "fedac6ff27ab1848",
        "type": "gate",
        "z": "5140f39a81560f94",
        "name": "",
        "controlTopic": "control",
        "defaultState": "closed",
        "openCmd": "open",
        "closeCmd": "close",
        "toggleCmd": "toggle",
        "defaultCmd": "default",
        "statusCmd": "status",
        "persist": false,
        "storeName": "memory",
        "x": 230,
        "y": 300,
        "wires": [
            [
                "06147498647b7e74",
                "46386ce2e24e6c13",
                "fbd0056cf0dfd45f",
                "ce9a58554c49a21d"
            ]
        ]
    },
    {
        "id": "6c37007955640219",
        "type": "inject",
        "z": "5140f39a81560f94",
        "name": "Trip 02",
        "props": [
            {
                "p": "timestamp",
                "v": "",
                "vt": "date"
            },
            {
                "p": "temperature",
                "v": "{\"min1\":195,\"max1\":220}",
                "vt": "json"
            },
            {
                "p": "fuel",
                "v": "{\"min2\":8,\"max2\":12}",
                "vt": "json"
            },
            {
                "p": "speed",
                "v": "{\"min3\":30,\"max3\":60}",
                "vt": "json"
            },
            {
                "p": "brake",
                "v": "{\"min4\":55,\"max4\":80}",
                "vt": "json"
            },
            {
                "p": "time",
                "v": "{\"min5\":16,\"max5\":22}",
                "vt": "json"
            },
            {
                "p": "range",
                "v": "{\"min6\":10,\"max6\":40}",
                "vt": "json"
            },
            {
                "p": "from",
                "v": "Box Hill",
                "vt": "str"
            },
            {
                "p": "to",
                "v": "Glen Waverley",
                "vt": "str"
            },
            {
                "p": "url",
                "v": "https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d50409.66383110071!2d145.1078580052893!3d-37.846155786684854!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x6ad640a5542b19f7%3A0x5045675218cd900!2sBox%20Hill%20VIC!3m2!1d-37.8181073!2d145.1238563!4m5!1s0x6ad66bb67ebd66cb%3A0x5045675218cdb40!2sGlen%20Waverley%20VIC!3m2!1d-37.874350199999995!2d145.1668205!5e0!3m2!1sen!2sau!4v1633777533547!5m2!1sen!2sau",
                "vt": "str"
            },
            {
                "p": "distance",
                "v": "11",
                "vt": "num"
            },
            {
                "p": "dongle",
                "v": "OBD001",
                "vt": "str"
            },
            {
                "p": "reg",
                "v": "ABC-123",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 120,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "be1b3490c25ea9f2",
        "type": "inject",
        "z": "5140f39a81560f94",
        "name": "trip 03",
        "props": [
            {
                "p": "timestamp",
                "v": "",
                "vt": "date"
            },
            {
                "p": "temperature",
                "v": "{\"min1\":195,\"max1\":220}",
                "vt": "json"
            },
            {
                "p": "fuel",
                "v": "{\"min2\":8,\"max2\":12}",
                "vt": "json"
            },
            {
                "p": "speed",
                "v": "{\"min3\":30,\"max3\":60}",
                "vt": "json"
            },
            {
                "p": "brake",
                "v": "{\"min4\":55,\"max4\":80}",
                "vt": "json"
            },
            {
                "p": "time",
                "v": "{\"min5\":16,\"max5\":22}",
                "vt": "json"
            },
            {
                "p": "range",
                "v": "{\"min6\":5,\"max6\":45}",
                "vt": "json"
            },
            {
                "p": "from",
                "v": "Wheelers Hill",
                "vt": "str"
            },
            {
                "p": "to",
                "v": "Deakin Uni Burwood",
                "vt": "str"
            },
            {
                "p": "url",
                "v": "https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d50384.24180369886!2d145.11489795831972!3d-37.88332926326676!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x6ad63e2af5985a7f%3A0x5045675218cdd10!2sWheelers%20Hill%20VIC!3m2!1d-37.906787099999995!2d145.1890123!4m5!1s0x6ad64183ed66f32b%3A0x5b6ab28116eedd1c!2sDeakin%20University%2C%20Building%20LA%2C%2070%2C%20Elgar%20Rd%2C%20Burwood%20VIC%203125!3m2!1d-37.8447032!2d145.1107462!5e0!3m2!1sen!2sau!4v1633133051079!5m2!1sen!2sau",
                "vt": "str"
            },
            {
                "p": "distance",
                "v": "14",
                "vt": "num"
            },
            {
                "p": "dongle",
                "v": "OBD001",
                "vt": "str"
            },
            {
                "p": "reg",
                "v": "ABC-123",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 20,
        "wires": [
            [
                "fedac6ff27ab1848"
            ]
        ]
    },
    {
        "id": "3d64e88fd014b42c",
        "type": "ui_text",
        "z": "5140f39a81560f94",
        "group": "5d81a0460650e608",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "temperature",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 700,
        "y": 280,
        "wires": []
    },
    {
        "id": "78d3f93c89edec3e",
        "type": "ui_text",
        "z": "5140f39a81560f94",
        "group": "daa210e7c206b8b6",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "fuel",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 650,
        "y": 400,
        "wires": []
    },
    {
        "id": "ba3498a6893550f0",
        "type": "ui_text",
        "z": "5140f39a81560f94",
        "group": "d40c40e0703598e9",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "brake",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 650,
        "y": 520,
        "wires": []
    },
    {
        "id": "30759c261cddce0a",
        "type": "mongodb",
        "hostname": "sit725-2021-t2-week4.9iugr.mongodb.net",
        "topology": "dnscluster",
        "connectOptions": "",
        "port": "27017",
        "db": "obd2",
        "name": ""
    },
    {
        "id": "5d81a0460650e608",
        "type": "ui_group",
        "name": "temprature",
        "tab": "ce8a760e58215cf0",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "daa210e7c206b8b6",
        "type": "ui_group",
        "name": "fuel",
        "tab": "ce8a760e58215cf0",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d40c40e0703598e9",
        "type": "ui_group",
        "name": "brake",
        "tab": "ce8a760e58215cf0",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f4dd05d18cf281f0",
        "type": "ui_group",
        "name": "Default",
        "tab": "ce8a760e58215cf0",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ce8a760e58215cf0",
        "type": "ui_tab",
        "name": "home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]