node-red-data/dongle03.json
[
    {
        "id": "a9254ccc11a2980b",
        "type": "tab",
        "label": "Dongle-03",
        "disabled": false,
        "info": ""
    },
    {
        "id": "25bb655b62f51c61",
        "type": "mongodb out",
        "z": "a9254ccc11a2980b",
        "mongodb": "30759c261cddce0a",
        "name": "mongoDB",
        "collection": "simulate",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 640,
        "y": 200,
        "wires": []
    },
    {
        "id": "1b3ff166aa0cf0be",
        "type": "function",
        "z": "a9254ccc11a2980b",
        "name": "All data",
        "func": "min1 = msg.temprature.min1;\nmax1 = msg.temprature.max1;\nmin2 = msg.fuel.min2;\nmax2 = msg.fuel.max2;\nmin3 = msg.speed.min3;\nmax3 = msg.speed.max3;\nmin4 = msg.brake.min4;\nmax4 = msg.brake.max4;\nmin5 = msg.time.min5;\nmax5 = msg.time.max5;\ndistance = msg.distance\nfrom = msg.from\nto = msg.to\nurl = msg.url\ntimestamp = msg.timestamp\ndongle = msg.dongle\n\nfunction generateRandomIntegerInRange(min, max) {\n    return Math.floor(Math.random() * (max - min + 1)) + min\n}\n\nreturn {fuel: generateRandomIntegerInRange(min2, max2),\n    temprature: generateRandomIntegerInRange(min1, max1),\n    speed: generateRandomIntegerInRange(min3, max3),\n    brake: generateRandomIntegerInRange(min4, max4),\n    time: generateRandomIntegerInRange(min5, max5),\n    distance,from,to,url,timestamp,dongle\n};\n \n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 160,
        "wires": [
            [
                "504fad6bb66354fb",
                "25bb655b62f51c61"
            ]
        ]
    },
    {
        "id": "bcfa3871c18ba962",
        "type": "inject",
        "z": "a9254ccc11a2980b",
        "name": "Trip 01",
        "props": [
            {
                "p": "timestamp",
                "v": "",
                "vt": "date"
            },
            {
                "p": "temprature",
                "v": "{\"min1\":195,\"max1\":220}",
                "vt": "json"
            },
            {
                "p": "fuel",
                "v": "{\"min2\":8,\"max2\":12}",
                "vt": "json"
            },
            {
                "p": "speed",
                "v": "{\"min3\":30,\"max3\":60}",
                "vt": "json"
            },
            {
                "p": "brake",
                "v": "{\"min4\":55,\"max4\":80}",
                "vt": "json"
            },
            {
                "p": "time",
                "v": "{\"min5\":9,\"max5\":13}",
                "vt": "json"
            },
            {
                "p": "from",
                "v": "Clayton",
                "vt": "str"
            },
            {
                "p": "to",
                "v": "Chadstone",
                "vt": "str"
            },
            {
                "p": "url",
                "v": "https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d25186.999358936228!2d145.09369990520767!3d-37.89829850316004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x6ad66ad657aee985%3A0x5045675218cddc0!2sClayton%20VIC!3m2!1d-37.914547899999995!2d145.127492!4m5!1s0x6ad66a84369ae825%3A0x5045675218cdc00!2sChadstone%20VIC%203148!3m2!1d-37.8810091!2d145.0959519!5e0!3m2!1sen!2sau!4v1633472174085!5m2!1sen!2sau",
                "vt": "str"
            },
            {
                "p": "distance",
                "v": "5.6",
                "vt": "num"
            },
            {
                "p": "dongle",
                "v": "OBD003",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "str",
        "x": 60,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "504fad6bb66354fb",
        "type": "debug",
        "z": "a9254ccc11a2980b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "dongle",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 100,
        "wires": []
    },
    {
        "id": "1b46a5dd1d2f4961",
        "type": "function",
        "z": "a9254ccc11a2980b",
        "name": "Temprature",
        "func": "min1 = msg.temprature.min1;\nmax1 = msg.temprature.max1;\n\n\nfunction generateRandomIntegerInRange(min, max) {\n    return Math.floor(Math.random() * (max - min + 1)) + min\n}\n\n\nreturn {\n    payload: generateRandomIntegerInRange(min1, max1)\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 340,
        "wires": [
            [
                "1cb3d3e0356af3d3",
                "b0ef00bb75ad8617"
            ]
        ]
    },
    {
        "id": "52db2b8bb392a32c",
        "type": "function",
        "z": "a9254ccc11a2980b",
        "name": "fuel",
        "func": "var min2 = msg.fuel.min2\nvar max2 = msg.fuel.max2\n\nfunction generateRandomIntegerInRange(min, max) {\n    return Math.floor(Math.random() * (max - min + 1)) + min;\n}\n\n\n\nreturn {payload: generateRandomIntegerInRange(min2, max2)};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 440,
        "wires": [
            [
                "bedb65f22a52029d",
                "37923892af7484b7"
            ]
        ]
    },
    {
        "id": "a7fd9f74431f0723",
        "type": "function",
        "z": "a9254ccc11a2980b",
        "name": "speed",
        "func": "min3 = msg.speed.min3;\nmax3 = msg.speed.max3;\n\n\nfunction generateRandomIntegerInRange(min, max) {\n    return Math.floor(Math.random() * (max - min + 1)) + min\n}\n\n\nreturn {\n    payload: generateRandomIntegerInRange(min3, max3)\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 520,
        "wires": [
            [
                "590319c6885220aa",
                "32c6932cf80df950"
            ]
        ]
    },
    {
        "id": "1cb3d3e0356af3d3",
        "type": "ui_gauge",
        "z": "a9254ccc11a2980b",
        "name": "",
        "group": "5d81a0460650e608",
        "order": 0,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "temprature",
        "label": "celcius",
        "format": "{{value}}",
        "min": "190",
        "max": "230",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "210",
        "seg2": "220",
        "className": "",
        "x": 650,
        "y": 320,
        "wires": []
    },
    {
        "id": "b0ef00bb75ad8617",
        "type": "ui_chart",
        "z": "a9254ccc11a2980b",
        "name": "",
        "group": "5d81a0460650e608",
        "order": 1,
        "width": "0",
        "height": "0",
        "label": "temprature-chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "50",
        "ymax": "250",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 660,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "bedb65f22a52029d",
        "type": "ui_gauge",
        "z": "a9254ccc11a2980b",
        "name": "",
        "group": "daa210e7c206b8b6",
        "order": 0,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "fuel",
        "label": "L",
        "format": "{{value}}",
        "min": "0",
        "max": "20",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "15",
        "className": "",
        "x": 630,
        "y": 440,
        "wires": []
    },
    {
        "id": "37923892af7484b7",
        "type": "ui_chart",
        "z": "a9254ccc11a2980b",
        "name": "",
        "group": "daa210e7c206b8b6",
        "order": 1,
        "width": "0",
        "height": "0",
        "label": "fuel-chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 640,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "590319c6885220aa",
        "type": "ui_gauge",
        "z": "a9254ccc11a2980b",
        "name": "",
        "group": "e4c0d2431fe7285c",
        "order": 0,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "Speed",
        "label": "km/h",
        "format": "{{value}}",
        "min": "30",
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "55",
        "seg2": "59",
        "className": "",
        "x": 630,
        "y": 540,
        "wires": []
    },
    {
        "id": "32c6932cf80df950",
        "type": "ui_chart",
        "z": "a9254ccc11a2980b",
        "name": "",
        "group": "e4c0d2431fe7285c",
        "order": 1,
        "width": "0",
        "height": "0",
        "label": "speed-chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "150",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 650,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "21aaf932ef036977",
        "type": "ui_switch",
        "z": "a9254ccc11a2980b",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "f4dd05d18cf281f0",
        "order": 0,
        "width": "0",
        "height": "0",
        "passthru": true,
        "decouple": "false",
        "topic": "control",
        "topicType": "str",
        "style": "",
        "onvalue": "open",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "close",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 70,
        "y": 440,
        "wires": [
            [
                "434cb90be16ab5b0"
            ]
        ]
    },
    {
        "id": "434cb90be16ab5b0",
        "type": "gate",
        "z": "a9254ccc11a2980b",
        "name": "",
        "controlTopic": "control",
        "defaultState": "closed",
        "openCmd": "open",
        "closeCmd": "close",
        "toggleCmd": "toggle",
        "defaultCmd": "default",
        "statusCmd": "status",
        "persist": false,
        "storeName": "memory",
        "x": 210,
        "y": 300,
        "wires": [
            [
                "1b46a5dd1d2f4961",
                "52db2b8bb392a32c",
                "a7fd9f74431f0723",
                "1b3ff166aa0cf0be"
            ]
        ]
    },
    {
        "id": "40ada4d551336a3d",
        "type": "inject",
        "z": "a9254ccc11a2980b",
        "name": "Trip 02",
        "props": [
            {
                "p": "timestamp",
                "v": "",
                "vt": "date"
            },
            {
                "p": "temprature",
                "v": "{\"min1\":195,\"max1\":220}",
                "vt": "json"
            },
            {
                "p": "fuel",
                "v": "{\"min2\":8,\"max2\":12}",
                "vt": "json"
            },
            {
                "p": "speed",
                "v": "{\"min3\":30,\"max3\":60}",
                "vt": "json"
            },
            {
                "p": "brake",
                "v": "{\"min4\":55,\"max4\":80}",
                "vt": "json"
            },
            {
                "p": "time",
                "v": "{\"min5\":15,\"max5\":22}",
                "vt": "json"
            },
            {
                "p": "from",
                "v": "Chadstone",
                "vt": "str"
            },
            {
                "p": "to",
                "v": "Box Hill",
                "vt": "str"
            },
            {
                "p": "url",
                "v": "https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d50404.51460712483!2d145.09160044986263!3d-37.85368776915661!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x6ad66a84369ae825%3A0x5045675218cdc00!2sChadstone%20VIC%203148!3m2!1d-37.8810091!2d145.0959519!4m5!1s0x6ad640b0a944875b%3A0xb0a0f0126a95b73f!2sBox%20Hill%2C%20Box%20Hill%20VIC!3m2!1d-37.8192211!2d145.1211567!5e0!3m2!1sen!2sau!4v1633472017648!5m2!1sen!2sau",
                "vt": "str"
            },
            {
                "p": "distance",
                "v": "10",
                "vt": "num"
            },
            {
                "p": "dongle",
                "v": "OBD003",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "str",
        "x": 100,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "be02eb17641deb26",
        "type": "inject",
        "z": "a9254ccc11a2980b",
        "name": "trip 03",
        "props": [
            {
                "p": "timestamp",
                "v": "",
                "vt": "date"
            },
            {
                "p": "temprature",
                "v": "{\"min1\":195,\"max1\":220}",
                "vt": "json"
            },
            {
                "p": "fuel",
                "v": "{\"min2\":8,\"max2\":12}",
                "vt": "json"
            },
            {
                "p": "speed",
                "v": "{\"min3\":30,\"max3\":60}",
                "vt": "json"
            },
            {
                "p": "brake",
                "v": "{\"min4\":55,\"max4\":80}",
                "vt": "json"
            },
            {
                "p": "time",
                "v": "{\"min5\":8,\"max5\":12}",
                "vt": "json"
            },
            {
                "p": "from",
                "v": "Burwood",
                "vt": "str"
            },
            {
                "p": "to",
                "v": "Chadstone",
                "vt": "str"
            },
            {
                "p": "url",
                "v": "https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d25198.04651815082!2d145.08492255514832!3d-37.866003603530864!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x6ad6405e68fe18f5%3A0x5045675218cda10!2sBurwood%20VIC!3m2!1d-37.8494981!2d145.1090089!4m5!1s0x6ad66a84369ae825%3A0x5045675218cdc00!2sChadstone%20VIC%203148!3m2!1d-37.8810091!2d145.0959519!5e0!3m2!1sen!2sau!4v1633471833423!5m2!1sen!2sau",
                "vt": "str"
            },
            {
                "p": "distance",
                "v": "5",
                "vt": "num"
            },
            {
                "p": "dongle",
                "v": "OBD003",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "str",
        "x": 120,
        "y": 20,
        "wires": [
            [
                "434cb90be16ab5b0"
            ]
        ]
    },
    {
        "id": "30759c261cddce0a",
        "type": "mongodb",
        "hostname": "sit725-2021-t2-week4.9iugr.mongodb.net",
        "topology": "dnscluster",
        "connectOptions": "",
        "port": "27017",
        "db": "obd2",
        "name": ""
    },
    {
        "id": "5d81a0460650e608",
        "type": "ui_group",
        "name": "temprature",
        "tab": "ce8a760e58215cf0",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "daa210e7c206b8b6",
        "type": "ui_group",
        "name": "fuel",
        "tab": "ce8a760e58215cf0",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e4c0d2431fe7285c",
        "type": "ui_group",
        "name": "speed",
        "tab": "ce8a760e58215cf0",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f4dd05d18cf281f0",
        "type": "ui_group",
        "name": "Default",
        "tab": "ce8a760e58215cf0",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ce8a760e58215cf0",
        "type": "ui_tab",
        "name": "home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]